﻿body {
}

table, th, td{
    width:auto;
    height:auto;
    border:ridge;
    padding:5px 15px 5px 15px;
    text-align:center;
    table-layout:auto;
}

th{
    
}

td {

}

tr {
cursor: pointer
}

