

.navbar	{
	background-color: #f9c000;
	margin-bottom: 0px;
}
.navbar .navbar-brand {
  color: #777777;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar .navbar-text {
  color: #777777;
}
.navbar .navbar-nav > li > a {
  color: #777777;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #d8a600;
}
.navbar .navbar-nav > .disabled > a,
.navbar .navbar-nav > .disabled > a:hover,
.navbar .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar .navbar-toggle {
  border-color: #dddddd;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #888888;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #d8a600;
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
  background-color: #d8a600;
  color: #555555;
}

.navbar a {
	color:black;
}

.nav-sidebar {
	background-color: #13356A;

}
.nav-sidebar a {
	color: white;
}

.sidebar {
	padding-left:0px;
}

.panel-heading{
	background-image:linear-gradient(to bottom, #f9c000 0%, #d8a600 100%) !important;
}

.sub-group{
	background-color:#ecf1fa;
}

.row{
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.controls{
	padding:0.5em;
}

.controls > * {
	float:right;
}

.modal-dialog{
	z-index:1041;
}

.date-edit-control{

	position:absolute;
	top:5px;
	left:5px;
	width:200px;
	height:90px;
	z-index:1003;
	background-color:white;
	border-width:1px;
	border-style:solid;
	border-color:#ccc;
	border-radius:5px;
	padding:5px;
}

.date-edit-control > * {
	margin-bottom:5px;
	float:none !important;
}

.date-edit-control-mask{
	position:fixed;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	z-index:1002;
	background-color:black;
	opacity:0.5;
}
	
.date-selector{
	width:215px;
	max-width:215px;
	padding-left:5px;
	padding-right:5px;
}

.month-selector{
	width:95px;
	max-width:95px;
	min-width:95px;
	padding-left:5px;
	padding-right:5px;
}

.hour-selector{
	width:135px;
	max-width:135px;
	min-width:135px;
	padding-left:5px;
	padding-right:5px;
	bottom:0px !important;
}

.minute-selector,.second-selector{
	width:215px;
	max-width:215px;
	min-width:215px;
	padding-left:5px;
	padding-right:5px;
	bottom:0px !important;
}

.date-selector td, .month-selector td, .hour-selector td, .minute-selector td, .second-selector td{
	width:20px;
	display:inline-block;
}

.date-selector td.selected, .month-selector td.selected, .hour-selector td.selected, .minute-selector td.selected, .second-selector td.selected{
	background-color:#eee;
}

.date-selector td:hover, .month-selector td:hover, .hour-selector td:hover, .minute-selector td:hover, .second-selector td:hover{
	background-color:#ccc;
}




