<style>
.feedback
{
    box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    margin: 5px;
}
.NOformatting
{
    margin: 5px;
}
.savePending
{
    box-shadow: 0 0 5px rgba(255, 184, 148);
    margin: 5px;
}
.saved
{
    box-shadow: 0 0 5px rgba(102, 255, 102);
    margin: 5px;
}
.problemSaving
{
    box-shadow: 0 0 5px rgba(255, 0, 0, 1);
    margin: 5px;
}



.group-children
{
    margin:2em;
}

.group-children .panel-collapse
{
    padding-bottom:5em;
}

.group-children > div 
{
    margin-top:1em;
}

.sub-group{
	border: 1px solid black;
	border-radius: 2em;
	padding:2em;
	margin:2em;
	padding-bottom:5em;

}

.full-width{
	width:100%;
}

</style>

<script type="text/ng-template" id="build">


                    <div ng-if="item.type == 'G'">
                        <div id="group_{{item.category_id}}" class="group-children panel-group" role="tablist">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" data-toggle="collapse" data-target="#group_{{item.category_id}} .panel-collapse">
                                        <h4 class="panel-title">
                                            {{item.name}}
                                        </h4>
                                </div>
                                <div class="panel-collapse collapse in" role="tabpanel">
                                    <span ng-repeat="item in item.items | orderBy:'order'">
                                        <span ng-include="'build'"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                
                
                	<div ng-if="item.type == 'S'"  class="sub-group">
                        
                        <h2 style="margin-bottom:2em">
                            {{item.name}}
                        </h2>
                                
                        <div ng-repeat="item in item.items | orderBy:'order'">
                            <span ng-include="'build'"></span>
                        </div>
                    </div>



                    <div ng-if="item.type == 'T'">
                        <div id="table_{{item.category_id}}" >
                            
                            <div class="row">
                            	<div class="col col-xs-12">
						            <h3 >
						                {{item.name}}
						            </h3>
				                </div>
                            </div>
                            <div class="row">
                            	<div class="col col-xs-12">

				                    <table class="table table-striped">
				                        <tr>
				                            <th ng-repeat="question in item.questions | orderBy:'order'">{{question.text}}</th>
				                        </tr>
				                        <tr ng-repeat="row in item.questions[0].answers">
				                            <td ng-repeat="question in item.questions">	
				                                <div class="input-group full-width"  ng-class="{'has-success':currentUser.privilegeLevel=='I'&&question.answers[$parent.$index].newAnswer}">
				                                	
													<input ng-show="question.type=='1'" ng-disabled="currentUser.privilegeLevel!='S'" type="text"  ng-model="question.answers[$parent.$index].text" class="form-control"  />
													<date-control ng-show="question.type=='D'" form-control="true" date="question.answers[$parent.$index].text" editable="currentUser.privilegeLevel=='S'"  ></date-control>
													<label ng-show="question.type=='C'" class="checkbox "><input type="checkbox" ng-model="question.answers[$parent.$index].text" ng-true-value="'1'" ng-false-value="'0'" ng-disabled="currentUser.privilegeLevel!='S'"> </label>
													
													<span  class="input-group-btn">
														<button class="btn " ng-class="{'btn-success':question.answers[$parent.$index].feedback&&question.answers[$parent.$index].newFeedback,'btn-info':question.answers[$parent.$index].feedback&&!question.answers[$parent.$index].newFeedback,'btn-default':!question.answers[$parent.$index].feedback}" ng-click="question.answers[$parent.$index].showFeedback=!question.answers[$parent.$index].showFeedback;">
															<span class="glyphicon glyphicon-comment"></span>
														</button>
													</span>
												</div>
												
				                            </td>
				                        </tr>
				                    </table>
				                    
				                    <div ng-repeat="row in item.questions[0].answers" style="position:fixed;top:0px;left:0px;width:0px;height:0px;">
			                            <div ng-repeat="question in item.questions">	
											<div class="modal" ng-class="{'show':question.answers[$parent.$index].showFeedback}">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" ng-click="question.answers[$parent.$index]=false;">&times;</button>
															<h4 class="modal-title">Feedback</h4>
														</div>
														<div class="modal-body">
															<p ng-show="currentUser.privilegeLevel!='I'">{{question.answers[$parent.$index].feedback}}</p>
															<textarea ng-show="currentUser.privilegeLevel=='I'" ng-model="question.answers[$parent.$index].feedback" class="form-control full-width" rows="10"></textarea>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-default" ng-click="question.answers[$parent.$index].showFeedback=false;">Close</button>
														</div>
													</div>
												</div>
											</div>
			                            </div>
			                        </div>
			                    </div>
		                    </div>
                              
                        </div>    
                    </div>
                    
                    
                    <div ng-if="item.type == 'D'">
                        
                            <div class="row">
                    		<div class="col col-xs-12">
		                        <h4 style="font-weight:bold">{{item.text}}</h4>
        		                <span>{{item.notes}}</span>
        		                
        		                
    		                </div>
	
		                <div class="row" style="margin-bottom:1em;">
		                	<div class="col col-xs-12">
		                		<div class="input-group full-width " ng-class="{'has-success':currentUser.privilegeLevel=='I'&&item.answers[0].newAnswer}">
		                			<date-control date="item.answers[0].text" form-control="true" editable="currentUser.privilegeLevel=='S'"></date-control>
		                			
		                			<span class="input-group-btn"><button class="btn " ng-class="{'btn-success':item.answers[0].feedback&&item.answers[0].newFeedback,'btn-info':item.answers[0].feedback&&!item.answers[0].newFeedback,'btn-default':!item.answers[0].feedback}" ng-click="item.answers[0].showFeedback=!item.answers[0].showFeedback;"><span class="glyphicon glyphicon-comment"></span></button></span>
		                		</div>
		                		
		                		<div class="modal" ng-class="{'show':item.answers[0].showFeedback}">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" ng-click="item.answers[0].showFeedback=false;">&times;</button>
												<h4 class="modal-title">Feedback</h4>
											</div>
											<div class="modal-body">
												<p ng-show="currentUser.privilegeLevel!='I'">{{item.answers[0].feedback}}</p>
												<textarea ng-show="currentUser.privilegeLevel=='I'" ng-model="item.answers[0].feedback" class="form-control full-width" rows="10"></textarea>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" ng-click="item.answers[0].showFeedback=false;">Close</button>
											</div>
										</div>
									</div>
								</div>
		                		
				                
			                </div>
		                </div>
                        </div>

                    </div>
                    
                    <div ng-if="item.type == 'C'">
                        
                            <div class="row">
                    		<div class="col col-xs-12">
		                        <h4 style="font-weight:bold">{{item.text}}</h4>
        		                <span>{{item.notes}}</span>
        		                
        		                
    		                </div>
	
		                <div class="row" style="margin-bottom:1em;">
		                	<div class="col col-xs-12">
		                		<div class="input-group full-width" ng-class="{'has-success':currentUser.privilegeLevel=='I'&&item.answers[0].newAnswer}">
		                			<label class="checkbox "><input type="checkbox" ng-model="item.answers[0].text" ng-true-value="'1'" ng-false-value="'0'" ng-disabled="currentUser.privilegeLevel!='S'"> </label>
		                			
		                			<span class="input-group-btn"><button class="btn " ng-class="{'btn-success':item.answers[0].feedback&&item.answers[0].newFeedback,'btn-info':item.answers[0].feedback&&!item.answers[0].newFeedback,'btn-default':!item.answers[0].feedback}" ng-click="item.answers[0].showFeedback=!item.answers[0].showFeedback;"><span class="glyphicon glyphicon-comment"></span></button></span>
		                		</div>
		                		
		                		<div class="modal" ng-class="{'show':item.answers[0].showFeedback}">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" ng-click="item.answers[0].showFeedback=false;">&times;</button>
												<h4 class="modal-title">Feedback</h4>
											</div>
											<div class="modal-body">
												<p ng-show="currentUser.privilegeLevel!='I'">{{item.answers[0].feedback}}</p>
												<textarea ng-show="currentUser.privilegeLevel=='I'" ng-model="item.answers[0].feedback" class="form-control full-width" rows="10"></textarea>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" ng-click="item.answers[0].showFeedback=false;">Close</button>
											</div>
										</div>
									</div>
								</div>
		                		
				                
			                </div>
		                </div>
                        </div>

                    </div>


                    <div ng-if="item.type == '1'">
                        
                            <div class="row">
                    		<div class="col col-xs-12">
		                        <h4 style="font-weight:bold">{{item.text}}</h4>
        		                <span>{{item.notes}}</span>
        		                
        		                
    		                </div>
	
		                <div class="row" style="margin-bottom:1em;">
		                	<div class="col col-xs-12">
		                		<div class="input-group full-width" ng-class="{'has-success':currentUser.privilegeLevel=='I'&&item.answers[0].newAnswer}">
		                			<input ng-disabled="currentUser.privilegeLevel!='S'" type="text"  ng-model="item.answers[0].text" class="form-control"  />
		                			
		                			<span class="input-group-btn"><button class="btn " ng-class="{'btn-success':item.answers[0].feedback&&item.answers[0].newFeedback,'btn-info':item.answers[0].feedback&&!item.answers[0].newFeedback,'btn-default':!item.answers[0].feedback}" ng-click="item.answers[0].showFeedback=!item.answers[0].showFeedback;"><span class="glyphicon glyphicon-comment"></span></button></span>
		                		</div>
		                		
		                		<div class="modal" ng-class="{'show':item.answers[0].showFeedback}">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" ng-click="item.answers[0].showFeedback=false;">&times;</button>
												<h4 class="modal-title">Feedback</h4>
											</div>
											<div class="modal-body">
												<p ng-show="currentUser.privilegeLevel!='I'">{{item.answers[0].feedback}}</p>
												<textarea ng-show="currentUser.privilegeLevel=='I'" ng-model="item.answers[0].feedback" class="form-control full-width" rows="10"></textarea>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" ng-click="item.answers[0].showFeedback=false;">Close</button>
											</div>
										</div>
									</div>
								</div>
		                		
				                
			                </div>
		                </div>
                        </div>

                    </div>

                    <div ng-if="item.type == 'M'">
                    	<div class="row">
                    		<div class="col col-xs-12">
		                        <h4 style="font-weight:bold">{{item.text}}</h4>
        		                <span>{{item.notes}}</span>
        		                
        		                
    		                </div>
		                </div>
		                <div class="row"  style="margin-bottom:1em;">
		                	<div class="col col-xs-12">
		                	
		                	
		                			<textarea ng-disabled="currentUser.privilegeLevel!='S'" ng-model="item.answers[0].text" class="form-control full-width" rows="10"  ng-class="{'has-success':currentUser.privilegeLevel=='I'&&item.answers[0].newAnswer}"></textarea>
		                		
		                			
				               		<span style="position:absolute;right:15px;top:0px;" ><button class="btn " ng-class="{'btn-success':item.answers[0].feedback&&item.answers[0].newFeedback,'btn-info':item.answers[0].feedback&&!item.answers[0].newFeedback,'btn-default':!item.answers[0].feedback}" ng-click="item.answers[0].showFeedback=true"><span class="glyphicon glyphicon-comment"></span></button></span>
				               		
				               		
				               		<div class="modal" ng-class="{'show':item.answers[0].showFeedback}">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" ng-click="item.answers[0].showFeedback=false;">&times;</button>
													<h4 class="modal-title">Feedback</h4>
												</div>
												<div class="modal-body">
													<p ng-show="currentUser.privilegeLevel!='I'">{{item.answers[0].feedback}}</p>
													<textarea ng-show="currentUser.privilegeLevel=='I'" ng-model="item.answers[0].feedback" class="form-control full-width" rows="10"></textarea>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default" ng-click="item.answers[0].showFeedback=false;">Close</button>
												</div>
											</div>
										</div>
									</div>
			                </div>
		                </div>
                                   
                    </div>

        
        
        
        
        
</script>






<div class="container">
    <div class="row">
        <div class="col col-xs-12">
            <h1>{{casebook.casebook.name}}</h1>
        </div>    
    </div>


    <div>  
        

     
        <div ng-repeat="cat in casebook.casebook.categories | orderBy:'order'" id="group_{{cat.category_id}}" class="group-children panel-group" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" data-toggle="collapse" data-target="#group_{{cat.category_id}} .panel-collapse">
                        <h4 class="panel-title">
                            {{cat.name}}
                        </h4>
                </div>
                <div class="panel-collapse collapse in" role="tabpanel">
                    <div class="row" ng-repeat="item in cat.items | orderBy:'order'">
                        <div ng-include="'build'"></div>
                    </div>
                </div>
            </div>
        </div>
		  
    </div>
</div>



<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Feedback</h4>
            </div>
            <div class="modal-body">
                <textarea ng-change="handleFeedback()" ng-blur="saveFeedback();" ng-model="f_answer.feedback" id="feedbackBox"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

</div>

<style>
	.has-success{
		background-color:#cee6ce !important;
	}
	
	.has-success input, .has-success .form-control {
		background-color:#cee6ce !important;
	}
</style>

