<div class="dateDirective" style="position:relative;">

	<span ng-show="!editable" ng-class="{'form-control':formControl}" disabled="true">
		<span class="date">{{dateParts.day | leftPad:2}}/{{dateParts.month | leftPad:2}}/{{dateParts.year | leftPad:4}}</span>
		<span class="time" ng-show="useTime">{{dateParts.hour | leftPad:2}}:{{dateParts.minute | leftPad:2}}:{{dateParts.second | leftPad:2}} </span>
	</span>
	
	<span ng-show="editable" ng-class="{'form-control':formControl}" ng-click="showEditControl=true;">
		<span class="date">{{dateParts.day | leftPad:2}}/{{dateParts.month | leftPad:2}}/{{dateParts.year | leftPad:4}}</span>	
		<span class="time" ng-show="useTime">{{dateParts.hour | leftPad:2}}:{{dateParts.minute | leftPad:2}}:{{dateParts.second | leftPad:2}} </span>
	</span>

	<div ng-show="showEditControl" class="date-edit-control-mask" ng-click="showEditControl=false;"></div>
	<div ng-show="showEditControl" class="date-edit-control">
		
		<div class="dropdown"  style="display:inline-block">
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{dateParts.day | leftPad:2}} <span class="caret"></span></button>
			<table class="dropdown-menu date-selector" role="menu">
				<tr>
					<td ng-class="{'selected':dateParts.day==1}" ng-click="dateParts.day=1;">01</td>
					<td ng-class="{'selected':dateParts.day==2}" ng-click="dateParts.day=2;">02</td>
					<td ng-class="{'selected':dateParts.day==3}" ng-click="dateParts.day=3;">03</td>
					<td ng-class="{'selected':dateParts.day==4}" ng-click="dateParts.day=4;">04</td>
					<td ng-class="{'selected':dateParts.day==5}" ng-click="dateParts.day=5;">05</td>
					<td ng-class="{'selected':dateParts.day==6}" ng-click="dateParts.day=6;">06</td>
					<td ng-class="{'selected':dateParts.day==7}" ng-click="dateParts.day=7;">07</td>
					<td ng-class="{'selected':dateParts.day==8}" ng-click="dateParts.day=8;">08</td>
					<td ng-class="{'selected':dateParts.day==9}" ng-click="dateParts.day=9;">09</td>
					<td ng-class="{'selected':dateParts.day==10}" ng-click="dateParts.day=10;">10</td>
				</tr><tr>
					<td ng-class="{'selected':dateParts.day==11}" ng-click="dateParts.day=11;">11</td>
					<td ng-class="{'selected':dateParts.day==12}" ng-click="dateParts.day=12;">12</td>
					<td ng-class="{'selected':dateParts.day==13}" ng-click="dateParts.day=13;">13</td>
					<td ng-class="{'selected':dateParts.day==14}" ng-click="dateParts.day=14;">14</td>
					<td ng-class="{'selected':dateParts.day==15}" ng-click="dateParts.day=15;">15</td>
					<td ng-class="{'selected':dateParts.day==16}" ng-click="dateParts.day=16;">16</td>
					<td ng-class="{'selected':dateParts.day==17}" ng-click="dateParts.day=17;">17</td>
					<td ng-class="{'selected':dateParts.day==18}" ng-click="dateParts.day=18;">18</td>
					<td ng-class="{'selected':dateParts.day==19}" ng-click="dateParts.day=19;">19</td>
					<td ng-class="{'selected':dateParts.day==20}" ng-click="dateParts.day=20;">20</td>
				</tr><tr>
					<td ng-class="{'selected':dateParts.day==21}" ng-click="dateParts.day=21;">21</td>
					<td ng-class="{'selected':dateParts.day==22}" ng-click="dateParts.day=22;">22</td>
					<td ng-class="{'selected':dateParts.day==23}" ng-click="dateParts.day=23;">23</td>
					<td ng-class="{'selected':dateParts.day==24}" ng-click="dateParts.day=24;">24</td>
					<td ng-class="{'selected':dateParts.day==25}" ng-click="dateParts.day=25;">25</td>
					<td ng-class="{'selected':dateParts.day==26}" ng-click="dateParts.day=26;">26</td>
					<td ng-class="{'selected':dateParts.day==27}" ng-click="dateParts.day=27;">27</td>
					<td ng-class="{'selected':dateParts.day==28}" ng-click="dateParts.day=28;" ng-show="daysInMonth>=28">28</td>
					<td ng-class="{'selected':dateParts.day==29}" ng-click="dateParts.day=29;" ng-show="daysInMonth>=29">29</td>
					<td ng-class="{'selected':dateParts.day==30}" ng-click="dateParts.day=30;" ng-show="daysInMonth>=30">30</td>
				</tr><tr>
					<td ng-class="{'selected':dateParts.day==31}" ng-click="dateParts.day=31;" ng-show="daysInMonth>=31">31</td>
				</tr>
			</table>
		</div>
		/
		<div class="dropdown" style="display:inline-block">
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{dateParts.month | leftPad:2}} <span class="caret"></span></button>
			<table class="dropdown-menu month-selector" role="menu">
				<tr>
					<td ng-class="{'selected':dateParts.month==1}" ng-click="dateParts.month=1;">01</td>
					<td ng-class="{'selected':dateParts.month==2}" ng-click="dateParts.month=2;">02</td>
					<td ng-class="{'selected':dateParts.month==3}" ng-click="dateParts.month=3;">03</td>
					<td ng-class="{'selected':dateParts.month==4}" ng-click="dateParts.month=4;">04</td>
				</tr><tr>
					<td ng-class="{'selected':dateParts.month==5}" ng-click="dateParts.month=5;">05</td>
					<td ng-class="{'selected':dateParts.month==6}" ng-click="dateParts.month=6;">06</td>
					<td ng-class="{'selected':dateParts.month==7}" ng-click="dateParts.month=7;">07</td>
					<td ng-class="{'selected':dateParts.month==8}" ng-click="dateParts.month=8;">08</td>
				</tr><tr>
					<td ng-class="{'selected':dateParts.month==9}" ng-click="dateParts.month=9;">09</td>
					<td ng-class="{'selected':dateParts.month==10}" ng-click="dateParts.month=10;">10</td>
					<td ng-class="{'selected':dateParts.month==11}" ng-click="dateParts.month=11;">11</td>
					<td ng-class="{'selected':dateParts.month==12}" ng-click="dateParts.month=12;">12</td>
				</tr>
			</table>
		</div>
		/
		<input type="text" class="form-control" style="display:inline-block;width:4em;" ng-model="dateParts.year" />
		<br/>
		<span ng-show="useTime">
			<div class="dropup" style="display:inline-block">
				<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{dateParts.hour | leftPad:2}} <span class="caret"></span></button>
				<table class="dropdown-menu hour-selector" role="menu">
					<tr>
						<td ng-class="{'selected':dateParts.hour==0}" ng-click="dateParts.hour=0;">00</td>
						<td ng-class="{'selected':dateParts.hour==1}" ng-click="dateParts.hour=1;">01</td>
						<td ng-class="{'selected':dateParts.hour==2}" ng-click="dateParts.hour=2;">02</td>
						<td ng-class="{'selected':dateParts.hour==3}" ng-click="dateParts.hour=3;">03</td>
						<td ng-class="{'selected':dateParts.hour==4}" ng-click="dateParts.hour=4;">04</td>
						<td ng-class="{'selected':dateParts.hour==5}" ng-click="dateParts.hour=5;">05</td>
					</tr><tr>
						<td ng-class="{'selected':dateParts.hour==6}" ng-click="dateParts.hour=6;">06</td>
						<td ng-class="{'selected':dateParts.hour==7}" ng-click="dateParts.hour=7;">07</td>
						<td ng-class="{'selected':dateParts.hour==8}" ng-click="dateParts.hour=8;">08</td>
						<td ng-class="{'selected':dateParts.hour==9}" ng-click="dateParts.hour=9;">09</td>
						<td ng-class="{'selected':dateParts.hour==10}" ng-click="dateParts.hour=10;">10</td>
						<td ng-class="{'selected':dateParts.hour==11}" ng-click="dateParts.hour=11;">11</td>
					</tr><tr>
						<td ng-class="{'selected':dateParts.hour==12}" ng-click="dateParts.hour=12;">12</td>
						<td ng-class="{'selected':dateParts.hour==13}" ng-click="dateParts.hour=13;">13</td>
						<td ng-class="{'selected':dateParts.hour==14}" ng-click="dateParts.hour=14;">14</td>
						<td ng-class="{'selected':dateParts.hour==15}" ng-click="dateParts.hour=15;">15</td>
						<td ng-class="{'selected':dateParts.hour==16}" ng-click="dateParts.hour=16;">16</td>
						<td ng-class="{'selected':dateParts.hour==17}" ng-click="dateParts.hour=17;">17</td>
					</tr><tr>
						<td ng-class="{'selected':dateParts.hour==18}" ng-click="dateParts.hour=18;">18</td>
						<td ng-class="{'selected':dateParts.hour==19}" ng-click="dateParts.hour=19;">19</td>
						<td ng-class="{'selected':dateParts.hour==20}" ng-click="dateParts.hour=20;">20</td>
						<td ng-class="{'selected':dateParts.hour==21}" ng-click="dateParts.hour=21;">21</td>
						<td ng-class="{'selected':dateParts.hour==22}" ng-click="dateParts.hour=22;">22</td>
						<td ng-class="{'selected':dateParts.hour==23}" ng-click="dateParts.hour=23;">23</td>
					
					</tr>
				</table>
			</div>
			:
			<div class="dropup" style="display:inline-block">
				<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{dateParts.minute | leftPad:2}} <span class="caret"></span></button>
				<table class="dropdown-menu minute-selector" role="menu">
					<tr>
						<td ng-class="{'selected':dateParts.minute==0}" ng-click="dateParts.minute=0;">00</td>
						<td ng-class="{'selected':dateParts.minute==1}" ng-click="dateParts.minute=1;">01</td>
						<td ng-class="{'selected':dateParts.minute==2}" ng-click="dateParts.minute=2;">02</td>
						<td ng-class="{'selected':dateParts.minute==3}" ng-click="dateParts.minute=3;">03</td>
						<td ng-class="{'selected':dateParts.minute==4}" ng-click="dateParts.minute=4;">04</td>
						<td ng-class="{'selected':dateParts.minute==5}" ng-click="dateParts.minute=5;">05</td>
						<td ng-class="{'selected':dateParts.minute==6}" ng-click="dateParts.minute=6;">06</td>
						<td ng-class="{'selected':dateParts.minute==7}" ng-click="dateParts.minute=7;">07</td>
						<td ng-class="{'selected':dateParts.minute==8}" ng-click="dateParts.minute=8;">08</td>
						<td ng-class="{'selected':dateParts.minute==9}" ng-click="dateParts.minute=9;">09</td>
					</tr><tr>
						<td ng-class="{'selected':dateParts.minute==10}" ng-click="dateParts.minute=10;">10</td>
						<td ng-class="{'selected':dateParts.minute==11}" ng-click="dateParts.minute=11;">11</td>
						<td ng-class="{'selected':dateParts.minute==12}" ng-click="dateParts.minute=12;">12</td>
						<td ng-class="{'selected':dateParts.minute==13}" ng-click="dateParts.minute=13;">13</td>
						<td ng-class="{'selected':dateParts.minute==14}" ng-click="dateParts.minute=14;">14</td>
						<td ng-class="{'selected':dateParts.minute==15}" ng-click="dateParts.minute=15;">15</td>
						<td ng-class="{'selected':dateParts.minute==16}" ng-click="dateParts.minute=16;">16</td>
						<td ng-class="{'selected':dateParts.minute==17}" ng-click="dateParts.minute=17;">17</td>
						<td ng-class="{'selected':dateParts.minute==18}" ng-click="dateParts.minute=18;">18</td>
						<td ng-class="{'selected':dateParts.minute==19}" ng-click="dateParts.minute=19;">19</td>
					</tr><tr>
						<td ng-class="{'selected':dateParts.minute==20}" ng-click="dateParts.minute=20;">20</td>
						<td ng-class="{'selected':dateParts.minute==21}" ng-click="dateParts.minute=21;">21</td>
						<td ng-class="{'selected':dateParts.minute==22}" ng-click="dateParts.minute=22;">22</td>
						<td ng-class="{'selected':dateParts.minute==23}" ng-click="dateParts.minute=23;">23</td>
						<td ng-class="{'selected':dateParts.minute==24}" ng-click="dateParts.minute=24;">24</td>
						<td ng-class="{'selected':dateParts.minute==25}" ng-click="dateParts.minute=25;">25</td>
						<td ng-class="{'selected':dateParts.minute==26}" ng-click="dateParts.minute=26;">26</td>
						<td ng-class="{'selected':dateParts.minute==27}" ng-click="dateParts.minute=27;">27</td>
						<td ng-class="{'selected':dateParts.minute==28}" ng-click="dateParts.minute=28;">28</td>
						<td ng-class="{'selected':dateParts.minute==29}" ng-click="dateParts.minute=29;">29</td>
					</tr><tr>
						<td ng-class="{'selected':dateParts.minute==30}" ng-click="dateParts.minute=30;">30</td>
						<td ng-class="{'selected':dateParts.minute==31}" ng-click="dateParts.minute=31;">31</td>
						<td ng-class="{'selected':dateParts.minute==32}" ng-click="dateParts.minute=32;">32</td>
						<td ng-class="{'selected':dateParts.minute==33}" ng-click="dateParts.minute=33;">33</td>
						<td ng-class="{'selected':dateParts.minute==34}" ng-click="dateParts.minute=34;">34</td>
						<td ng-class="{'selected':dateParts.minute==35}" ng-click="dateParts.minute=35;">35</td>
						<td ng-class="{'selected':dateParts.minute==36}" ng-click="dateParts.minute=36;">36</td>
						<td ng-class="{'selected':dateParts.minute==37}" ng-click="dateParts.minute=37;">37</td>
						<td ng-class="{'selected':dateParts.minute==38}" ng-click="dateParts.minute=38;">38</td>
						<td ng-class="{'selected':dateParts.minute==39}" ng-click="dateParts.minute=39;">39</td>
					</tr><tr>
						<td ng-class="{'selected':dateParts.minute==40}" ng-click="dateParts.minute=40;">40</td>
						<td ng-class="{'selected':dateParts.minute==41}" ng-click="dateParts.minute=41;">41</td>
						<td ng-class="{'selected':dateParts.minute==42}" ng-click="dateParts.minute=42;">42</td>
						<td ng-class="{'selected':dateParts.minute==43}" ng-click="dateParts.minute=43;">43</td>
						<td ng-class="{'selected':dateParts.minute==44}" ng-click="dateParts.minute=44;">44</td>
						<td ng-class="{'selected':dateParts.minute==45}" ng-click="dateParts.minute=45;">45</td>
						<td ng-class="{'selected':dateParts.minute==46}" ng-click="dateParts.minute=46;">46</td>
						<td ng-class="{'selected':dateParts.minute==47}" ng-click="dateParts.minute=47;">47</td>
						<td ng-class="{'selected':dateParts.minute==48}" ng-click="dateParts.minute=48;">48</td>
						<td ng-class="{'selected':dateParts.minute==49}" ng-click="dateParts.minute=49;">49</td>
					</tr><tr>
						<td ng-class="{'selected':dateParts.minute==50}" ng-click="dateParts.minute=50;">50</td>
						<td ng-class="{'selected':dateParts.minute==51}" ng-click="dateParts.minute=51;">51</td>
						<td ng-class="{'selected':dateParts.minute==52}" ng-click="dateParts.minute=52;">52</td>
						<td ng-class="{'selected':dateParts.minute==53}" ng-click="dateParts.minute=53;">53</td>
						<td ng-class="{'selected':dateParts.minute==54}" ng-click="dateParts.minute=54;">54</td>
						<td ng-class="{'selected':dateParts.minute==55}" ng-click="dateParts.minute=55;">55</td>
						<td ng-class="{'selected':dateParts.minute==56}" ng-click="dateParts.minute=56;">56</td>
						<td ng-class="{'selected':dateParts.minute==57}" ng-click="dateParts.minute=57;">57</td>
						<td ng-class="{'selected':dateParts.minute==58}" ng-click="dateParts.minute=58;">58</td>
						<td ng-class="{'selected':dateParts.minute==59}" ng-click="dateParts.minute=59;">59</td>
					</tr>
				</table>
			</div>
			:
			<div class="dropup" style="display:inline-block">
				<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{dateParts.second | leftPad:2}} <span class="caret"></span></button>
				<table class="dropdown-menu second-selector" role="menu">
					<tr>
						<td ng-class="{'selected':dateParts.second==0}" ng-click="dateParts.second=0;">00</td>
						<td ng-class="{'selected':dateParts.second==1}" ng-click="dateParts.second=1;">01</td>
						<td ng-class="{'selected':dateParts.second==2}" ng-click="dateParts.second=2;">02</td>
						<td ng-class="{'selected':dateParts.second==3}" ng-click="dateParts.second=3;">03</td>
						<td ng-class="{'selected':dateParts.second==4}" ng-click="dateParts.second=4;">04</td>
						<td ng-class="{'selected':dateParts.second==5}" ng-click="dateParts.second=5;">05</td>
						<td ng-class="{'selected':dateParts.second==6}" ng-click="dateParts.second=6;">06</td>
						<td ng-class="{'selected':dateParts.second==7}" ng-click="dateParts.second=7;">07</td>
						<td ng-class="{'selected':dateParts.second==8}" ng-click="dateParts.second=8;">08</td>
						<td ng-class="{'selected':dateParts.second==9}" ng-click="dateParts.second=9;">09</td>
					</tr><tr>
						<td ng-class="{'selected':dateParts.second==10}" ng-click="dateParts.second=10;">10</td>
						<td ng-class="{'selected':dateParts.second==11}" ng-click="dateParts.second=11;">11</td>
						<td ng-class="{'selected':dateParts.second==12}" ng-click="dateParts.second=12;">12</td>
						<td ng-class="{'selected':dateParts.second==13}" ng-click="dateParts.second=13;">13</td>
						<td ng-class="{'selected':dateParts.second==14}" ng-click="dateParts.second=14;">14</td>
						<td ng-class="{'selected':dateParts.second==15}" ng-click="dateParts.second=15;">15</td>
						<td ng-class="{'selected':dateParts.second==16}" ng-click="dateParts.second=16;">16</td>
						<td ng-class="{'selected':dateParts.second==17}" ng-click="dateParts.second=17;">17</td>
						<td ng-class="{'selected':dateParts.second==18}" ng-click="dateParts.second=18;">18</td>
						<td ng-class="{'selected':dateParts.second==19}" ng-click="dateParts.second=19;">19</td>
					</tr><tr>
						<td ng-class="{'selected':dateParts.second==20}" ng-click="dateParts.second=20;">20</td>
						<td ng-class="{'selected':dateParts.second==21}" ng-click="dateParts.second=21;">21</td>
						<td ng-class="{'selected':dateParts.second==22}" ng-click="dateParts.second=22;">22</td>
						<td ng-class="{'selected':dateParts.second==23}" ng-click="dateParts.second=23;">23</td>
						<td ng-class="{'selected':dateParts.second==24}" ng-click="dateParts.second=24;">24</td>
						<td ng-class="{'selected':dateParts.second==25}" ng-click="dateParts.second=25;">25</td>
						<td ng-class="{'selected':dateParts.second==26}" ng-click="dateParts.second=26;">26</td>
						<td ng-class="{'selected':dateParts.second==27}" ng-click="dateParts.second=27;">27</td>
						<td ng-class="{'selected':dateParts.second==28}" ng-click="dateParts.second=28;">28</td>
						<td ng-class="{'selected':dateParts.second==29}" ng-click="dateParts.second=29;">29</td>
					</tr><tr>
						<td ng-class="{'selected':dateParts.second==30}" ng-click="dateParts.second=30;">30</td>
						<td ng-class="{'selected':dateParts.second==31}" ng-click="dateParts.second=31;">31</td>
						<td ng-class="{'selected':dateParts.second==32}" ng-click="dateParts.second=32;">32</td>
						<td ng-class="{'selected':dateParts.second==33}" ng-click="dateParts.second=33;">33</td>
						<td ng-class="{'selected':dateParts.second==34}" ng-click="dateParts.second=34;">34</td>
						<td ng-class="{'selected':dateParts.second==35}" ng-click="dateParts.second=35;">35</td>
						<td ng-class="{'selected':dateParts.second==36}" ng-click="dateParts.second=36;">36</td>
						<td ng-class="{'selected':dateParts.second==37}" ng-click="dateParts.second=37;">37</td>
						<td ng-class="{'selected':dateParts.second==38}" ng-click="dateParts.second=38;">38</td>
						<td ng-class="{'selected':dateParts.second==39}" ng-click="dateParts.second=39;">39</td>
					</tr><tr>
						<td ng-class="{'selected':dateParts.second==40}" ng-click="dateParts.second=40;">40</td>
						<td ng-class="{'selected':dateParts.second==41}" ng-click="dateParts.second=41;">41</td>
						<td ng-class="{'selected':dateParts.second==42}" ng-click="dateParts.second=42;">42</td>
						<td ng-class="{'selected':dateParts.second==43}" ng-click="dateParts.second=43;">43</td>
						<td ng-class="{'selected':dateParts.second==44}" ng-click="dateParts.second=44;">44</td>
						<td ng-class="{'selected':dateParts.second==45}" ng-click="dateParts.second=45;">45</td>
						<td ng-class="{'selected':dateParts.second==46}" ng-click="dateParts.second=46;">46</td>
						<td ng-class="{'selected':dateParts.second==47}" ng-click="dateParts.second=47;">47</td>
						<td ng-class="{'selected':dateParts.second==48}" ng-click="dateParts.second=48;">48</td>
						<td ng-class="{'selected':dateParts.second==49}" ng-click="dateParts.second=49;">49</td>
					</tr><tr>
						<td ng-class="{'selected':dateParts.second==50}" ng-click="dateParts.second=50;">50</td>
						<td ng-class="{'selected':dateParts.second==51}" ng-click="dateParts.second=51;">51</td>
						<td ng-class="{'selected':dateParts.second==52}" ng-click="dateParts.second=52;">52</td>
						<td ng-class="{'selected':dateParts.second==53}" ng-click="dateParts.second=53;">53</td>
						<td ng-class="{'selected':dateParts.second==54}" ng-click="dateParts.second=54;">54</td>
						<td ng-class="{'selected':dateParts.second==55}" ng-click="dateParts.second=55;">55</td>
						<td ng-class="{'selected':dateParts.second==56}" ng-click="dateParts.second=56;">56</td>
						<td ng-class="{'selected':dateParts.second==57}" ng-click="dateParts.second=57;">57</td>
						<td ng-class="{'selected':dateParts.second==58}" ng-click="dateParts.second=58;">58</td>
						<td ng-class="{'selected':dateParts.second==59}" ng-click="dateParts.second=59;">59</td>
					</tr>
				</table>
			</div>
		</span>
		
	
	</div>

</div>
