<div class="container">


    <div class="row">
    	<div class="col col-xs-4">
	        <h1>Edit User</h1>
        </div>
    </div>
    <div class="row">
    	
        
        <div class="row">
        	<div class="col col-xs-12">
        		<div class="well">

		<!--            user and password-->
				    <div class="row">
				        <div class="col col-md-6">
				            <div class="form-group">
				                <label for="User Name">User Name:</label>
				                <input type="text" class="form-control" maxlength="30" ng-model="predicateUserName">
				            </div>
				            <div class="alert alert-danger alert-error" ng-show="userNameError">
				                <strong>User Name Error!</strong> The User Name must be between 1 and 30 digits long and can only be letters, numbers, underscores (_), and/or a dashes (-).
				            </div>

				            
				        </div>

		<!--                2nd column-->
				        
				        <div class="col col-md-2">
				        <br/>
				            <div class="dropdown">
							  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
								<span ng-show="predicatePL=='S'">Student</span>
								<span ng-show="predicatePL=='I'">Instructor</span>
								<span ng-show="predicatePL!='I' && predicatePL!='S'">Unkown</span>
								<span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
								<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="predicatePL='S'">Student</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="predicatePL='I'">Instructor</a></li>
							  </ul>
							</div>
							<div class="alert alert-danger alert-error" ng-show="PLerror">
				                <strong>Instructor/Student Error!</strong> Must be Student or Instructor.
				            </div>
				        </div>
				        
				        <div class="col col-md-4">
				        <br/>
				            <button type="button" class="btn btn-primary" ng-click="changePassword=true;">Change Password</button>
				            
				        </div>
			    </div>
				

<!--            1st column-->
            <div class="row">
                <div class="col col-md-6">
                    <div class="form-group">
                        <label for="First Name">First Name:</label>
                        <input type="text" class="form-control" maxlength="30" ng-model="predicateFN ">
                    </div>
                    <div class="alert alert-danger alert-error" ng-show="FNerror">
                        <strong>First Name Error!</strong> The First Name must be between 1 and 30 digits long and cannot contain any numbers or special characters.
                    </div>

                    <div class="form-group">
                        <label for="Last Name">Last Name:</label>
                        <input type="text" class="form-control" maxlength="30" ng-model="predicateLN">
                    </div>
                    <div class="alert alert-danger alert-error" ng-show="LNerror">
                        <strong>Last Name Error!</strong> The Last Name must be between 1 and 30 digits long and cannot contain any numbers or special characters.
                    </div>
                </div>

<!--                2nd column-->
                <div class="col col-md-6">
                    <div class="form-group">
                        <label for="Email">Email:</label>
                        <input type="email" class="form-control" ng-model="predicateEmail">
                    </div>
                    <div class="alert alert-danger alert-error" ng-show="emailError">
                        <strong>Email Error!</strong> The Email must be a valid email in the format: email@email.xxx
                    </div>

                    <div class="form-group">
                        <label for="Phone">Phone:</label>
                        <input type="tel" class="form-control" maxlength="50" ng-model="predicatePhone">
                    </div>
                    <div class="alert alert-danger alert-error" ng-show="phoneError">
                        <strong>Phone Error!</strong> The Phone Number must be between 3 and 50 digits long and can only contain numbers, dashes (-), and/or pluses (+).
                    </div>

                </div>
            </div>
            
            
                
        </div>
       
    
    <div class="row">
		<div class="col col-xs-12">
			<div class="alert alert-success" ng-show="successSubmit">
				<strong>User Updated!</strong> The user has been successfully updated.
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col col-xs-12">
<!--            database errors-->
		    <div class="alert alert-danger alert-error" ng-show="error">
		        <strong>Error!</strong> {{ errorDeclaration }}
				<ul ng-repeat="errors in error" class="text-error">
		            <!--loop through the array of errors-->
		            <li>
		                <p>
		                    <h2>{{errors}}</h2>
		                </p>
		            </li>
		        </ul>
		    </div>
    	</div>
    </div>
    
    
    <div class="modal" ng-class="{'show':changePassword}">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="changePassword=false;">&times;</button>
					<h4 class="modal-title">Change Password</h4>
				</div>
				<div class="modal-body">
					<div>
						<input type="text" class="form-control" placeholder="New password..." ng-model="newPassword"/>
					</div>
					<div>
						<input type="text" class="form-control" placeholder="Confirm password..." ng-model="confirmPassword"/>
					</div>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" ng-click="changePassword=false;">Cancel</button>
					<button type="button" class="btn btn-success" ng-click="changePassword=false;">Change</button>
				</div>
			</div>
		</div>
	</div>

</div>

<style>
	.form-control{
		margin-bottom:0.5em;
	}
</style>
