<div class="container ">

	<div class="row">
		<div class="col col-xs-12">
			<h1>Templates</h1>
		</div>
	</div>
	
	<div class="row" style="padding-bottom:2em;"> 
        <div class="col col-md-4 col-md-offset-4">
            <div class="input-group" style="width:100%">
                <input type="text" ng-model="name" class="form-control" placeholder="Search..." />
            </div>
        </div>
        
    </div>
    
    <div class="row"> 
        <div class="col col-md-6 col-md-offset-3">
            <div class="alert alert-danger" ng-show="error">
            	{{error}}
            </div>
        </div>
        
    </div>

    <div class="row">
    	<div class="col col-xs-12">
        	<table id="tab_logic" class="table table-striped table-hover">
				<thead>
					<tr>
						<th ng-click="sortBy('name')">
							Template
						</th>
						<th style="width:10em;">
							Assign
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="template in templates">
						<td ng-click="openTemplate(template.casebook_id)">{{template.name}}</td>
						<td>
							<button type="button" class="btn btn-info" ng-click="$parent.assign.template_id=template.casebook_id;$parent.showAssign=true">Assign</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="row">
        <div class="col col-xs-1 col-xs-offset-11 controls dropdown">
            <button type="button" class="btn btn-success btn-xs" ng-click="showCreate=true"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
    </div>
	
	<div id ="row">
		<div class="col col-xs-4"><!--BootStrap: use half of the grid-->
		    <button type="button" class="btn btn-info btn-sm" ng-click="page=1" ng-disabled="page<=1"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></button>
		    <button type="button" class="btn btn-info btn-sm" ng-click="page=page-1" ng-disabled="page<=1"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></button>
		</div>

        <div class="col col-xs-2">
                <span class="input-group" >
               		<input type="text" class="form-control" ng-model="page" />
               		<span class="input-group-addon">of {{lastPage}}</span>
               	</span>
       	</div>
       	<div class="col col-xs-2">
               	<span class="input-group">
               		<span class="input-group-addon">Page Size:</span>
               		<input type="text" class="form-control" ng-model="pageSize" />
               	</span>
        </div>

        <div class="col col-xs-4"><!--BootStrap: use the other have of the grid-->
           	<button type="button" class="btn btn-info btn-sm pull-right" ng-click="page=lastPage" ng-disabled="page>=lastPage"><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></button>
            <button type="button" class="btn btn-info btn-sm pull-right" ng-click="page=page+1" ng-disabled="page>=lastPage"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></button>
            
        </div>
    </div>
    
    
    


    <!-- Modal for creating -->
    <div style="position:fixed;left:0px;right:0px;top:0px;bottom:0px;z-index:1049;background-color:black;opacity:0.5;" ng-show="showCreate" ng-click="showCreate=false"></div>
    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-class="{'show':showCreate}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="showCreate=false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create New Template</h4>
                </div>
                <div class="modal-body">
                    <input type="text" id="inputTemplateName" class="form-control" placeholder="Template Name..." ng-model="create.name">
                    <br/>
                    <div class="alert alert-danger" ng-show="create.error">{{create.error}}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="showCreate=false">Cancel</button>
                    <button id="add_row" type="button" class="btn btn-success" ng-click="create.createTemplate()">Create</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal for assigning student -->
    <div style="position:fixed;left:0px;right:0px;top:0px;bottom:0px;z-index:1049;background-color:black;opacity:0.5;" ng-show="showAssign" ng-click="showAssign=false"></div>
    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-class="{'show':showAssign}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="showAssign=false"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Assign to a Student</h4>

                </div>

                <div class="modal-body">
                
                	<div class="row">
                		<div class="col col-md-5">
                			<div class="input-group">
                				<input type="text" class="form-control" ng-model="assign.search" placeholder="Search..."/>
                			</div>
                		</div>
                	</div>
                
                	<div class="row">
                		<div class="col col-xs-12">
				        	<table class="table table-hover table-striped">
				                <thead>
				                    <tr>
				                        <th>
				                            Username
				                        </th>
				                        <th>
				                            First Name
				                        </th>
				                        <th>
				                            Last Name
				                        </th>
				                    </tr>
				                </thead>
				                <tbody>
				                    <tr ng-repeat="u in assign.users" ng-click="$parent.assign.username=u.userName;$parent.assign.user_id=u.user_id" ng-class="{'success':$parent.assign.username==u.userName}">

				                        <td>{{u.userName}}</td>
				                        <td>{{u.firstName}}</td>
				                        <td>{{u.lastName}}</td>
				                    </tr>
				                </tbody>
				            </table>
                    	</div>
                	</div>
                    
                    <div class="row">
                    	<div class="col col-md-6">
                    		<div class="input-group" style="width:100%;cursor:not-allowed">
                    			<span class="input-group-addon">Username: </span>
                    			<div class="form-control">{{assign.username}}</div>
                    		</div>
                    	</div>
                    	<div class="col col-md-5 col-md-offset-1">
				            <div class="input-group">
				        		<span class="input-group-addon">Due Date</span>
				        		<date-control date="assign.dueDate" form-control="true" editable="true"></date-control>
				            </div>
			            </div>
		            </div>
		            <div class="row">
		            	<div class="col col-md-6 col-md-offset-3">
		            		<div class="alert alert-danger" ng-show="assign.error">
		            			{{assign.error}}
		            		</div>
		            	</div>
		            </div>
                </div>
                
                <div class="modal-footer">
		                <button type="button" class="btn btn-danger" ng-click="showAssign=false">Cancel</button>
		                <button id="add_row" type="button" class="btn btn-success" ng-click="assign.assignCasebook()">Assign</button>
				</div>
            </div>
        </div>
    </div>
    <!--end of modal body for assigning students-->
    
    
    


        
</div><!-- /container -->

