<div class="container">
    
    <div class="row">
    	<div class="col col-md-4">
		    <h1>Users</h1>
		</div>
    </div>
    
    <div class="row">
    	<div class="col col-md-4 col-md-offset-4">

			<div class="input-group" style="width:100%">
				<input type="text" ng-model="search" class="form-control" placeholder="Search..." />
			</div>
		</div>
		
	</div>
    

	<div class="row">
		<div class="col col-md-8 col-md-offset-2">
			<!--This is only used when there are errors..otherwise the data fields are empty-->
			<div class="alert alert-danger" ng-show="error">
				{{error}}
			</div>
		</div>
	</div>

    <div class="row">
        <div class= "col col-md-12">
                <table class= "table table-hover ">
                    <tr>
                        <th ng-click="sortBy('userName')">Login Name</th>
                        <th ng-click="sortBy('privilegeLevel')">Privilege</th>
                        <th ng-click="sortBy('firstName')">First Name</th>
                        <th ng-click="sortBy('lastName')">Last Name</th>
                        <th ng-click="sortBy('email')">Email</th>
                        <th ng-click="sortBy('phone')">Phone</th>
                    </tr>
                    <tr ng-repeat="cats in users" ng-click="editUser(cats.user_id)">
                        <div class="row">
                            <td>{{cats.userName}}</td>
                            <td><span ng-show="cats.privilegeLevel=='S'">Student</span><span ng-show="cats.privilegeLevel=='I'">Instructor</span></td>
                            <td>{{cats.firstName}}</td>
                            <td>{{cats.lastName}}</td>
                            <td>{{cats.email}}</td>
                            <td>{{cats.phone}}</td>
                        </div>
                    </tr>
            </table>
        </div>
     </div>
	<div class="row">
		<div class="col col-md-1 col-md-offset-11">
			<button type="button" class="btn btn-success btn-xs" ng-click="showCreate=true"><span class="glyphicon glyphicon-plus"></span></button>
		</div>
	</div>

    <div id ="row">
		<div class="col col-xs-4"><!--BootStrap: use half of the grid-->
		    <button type="button" class="btn btn-info btn-sm" ng-click="page=1" ng-disabled="page<=1"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></button>
		    <button type="button" class="btn btn-info btn-sm" ng-click="page=page-1" ng-disabled="page<=1"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></button>
		</div>

        <div class="col col-xs-2">
                <span class="input-group" >
               		<input type="text" class="form-control" ng-model="page" />
               		<span class="input-group-addon">of {{lastPage}}</span>
               	</span>
       	</div>
       	<div class="col col-xs-2">
               	<span class="input-group">
               		<span class="input-group-addon">Page Size:</span>
               		<input type="text" class="form-control" ng-model="pageSize" />
               	</span>
        </div>

        <div class="col col-xs-4"><!--BootStrap: use the other have of the grid-->
           	<button type="button" class="btn btn-info btn-sm pull-right" ng-click="page=lastPage" ng-disabled="page>=lastPage"><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></button>
            <button type="button" class="btn btn-info btn-sm pull-right" ng-click="page=page+1" ng-disabled="page>=lastPage"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></button>
            
        </div>
    </div>
    
    
	<div style="position:fixed;left:0px;right:0px;top:0px;bottom:0px;z-index:1049;background-color:black;opacity:0.5;" ng-show="showCreate" ng-click="showCreate=false"></div>
    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-class="{'show':showCreate}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="showCreate=false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create New User</h4>
                </div>
                <div class="modal-body">
                	<div class="row">
                    	<div class="col col-md-6">
                    		<div class="form-group" ng-class="{'has-error':create.errors['userName']}">
	                    		<input type="text" class="form-control" placeholder="Username" ng-model="create.user.userName" />
                    			<label class="control-label" ng-show="create.errors['userName']">{{create.errors['userName']}}</label>
                			</div>
                    	</div>
                    	<div class="col col-md-6">
                    		<div class="form-group" ng-class="{'has-error':create.errors['privilegeLevel']}">
                    			<div class="dropdown">
                    				<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width:100%">
                						<span class="pull-left">
		                					<span ng-show="create.user.privilegeLevel=='S'">Student</span>
		                					<span ng-show="create.user.privilegeLevel=='I'">Instructor</span>
                    					</span>
                    					<span class="pull-right"><span class="caret"></span></span>
                					</button>
                					<ul class="dropdown-menu" role="menu">
                						<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="create.user.privilegeLevel='S'">Student</a></li>
                						<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="create.user.privilegeLevel='I'">Instructor</a></li>
            						</ul>
                    			</div>
                    			<label class="control-label" ng-show="create.errors['privilegeLevel']">{{create.errors['privilegelLevel']}}</label>
                			</div>
                    	</div>
                    </div>
                    
                    <div class="row">
                    	<div class="col col-md-6">
                    		<div class="form-group" ng-class="{'has-error':create.errors['password']}">
	                    		<input type="password" class="form-control" placeholder="Password" ng-model="create.user.password" />
                    			<label class="control-label" ng-show="create.errors['password']">{{create.errors['password']}}</label>
                			</div>
                    	</div>
                    	<div class="col col-md-6">
                    		<div class="form-group" ng-class="{'has-error':create.errors['confirmPassword']}">
	                    		<input type="password" class="form-control" placeholder="Confirm Password" ng-model="create.user.confirmPassword" />
                    			<label class="control-label" ng-show="create.errors['confirmPassword']">{{create.errors['confirmPassword']}}</label>
                			</div>
                    	</div>
                    </div>
                    
                    <hr />
                
                    <div class="row">
                    	<div class="col col-md-6">
                    		<div class="form-group" ng-class="{'has-error':create.errors['firstName']}">
	                    		<input type="text" class="form-control" placeholder="First Name" ng-model="create.user.firstName" />
                    			<label class="control-label" ng-show="create.errors['firstName']">{{create.errors['firstName']}}</label>
                			</div>
                    	</div>
                    	<div class="col col-md-6">
                    		<div class="form-group" ng-class="{'has-error':create.errors['lastName']}">
	                    		<input type="text" class="form-control" placeholder="Last Name" ng-model="create.user.lastName" />
                    			<label class="control-label" ng-show="create.errors['lastName']">{{create.errors['lastName']}}</label>
                			</div>
                    	</div>
                    </div>
                    
                    
                    
                    <div class="row">
                    	<div class="col col-md-6">
                    		<div class="form-group" ng-class="{'has-error':create.errors['email']}">
	                    		<input type="text" class="form-control" placeholder="E-mail" ng-model="create.user.email" />
                    			<label class="control-label" ng-show="create.errors['email']">{{create.errors['email']}}</label>
                			</div>
                    	</div>
                    	<div class="col col-md-6">
                    		<div class="form-group" ng-class="{'has-error':create.errors['phone']}">
	                    		<input type="text" class="form-control" placeholder="Phone Number" ng-model="create.user.phone" />
                    			<label class="control-label" ng-show="create.errors['phone']">{{create.errors['phone']}}</label>
                			</div>
                    	</div>
                    </div>
                    
                    
                    
                    <div class="alert alert-danger" ng-show="create.errors['general']">{{create.errors['general']}}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="showCreate=false">Cancel</button>
                    <button type="button" class="btn btn-success" ng-click="create.createUser()" ng-disabled="create.hasErrors">Create</button>
                </div>
            </div>
        </div>
    </div>
    
</div>   

<style>
table{
	margin-top:1.0em;
}
</style>


