<div class="background">

	<form class="login " ng-submit="user.doLogin(username,password,url)">
		<input type="text" class="form-control" placeholder="Username" ng-model="username"/>
		<input type="password" class="form-control" placeholder="Password" ng-model="password" />
		<button type="submit" class="btn btn-default" >Login</button><br /><br />
		<div class="alert alert-danger" role="alert" ng-if="user.error">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			{{user.error}}
		</div>

	</form>
	
</div>

<style>

.background {

	position:fixed;
	z-index:10000;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;

	background-color:white;
	background-image:url('/pictures/login.jpg');
	background-position:center;
	background-size:cover;
}

.login {

	position:absolute;
	left:50%;
	top:50%;
	width:20em;
	height:10em;
	margin-left:-10em;
	margin-top:-5em;

}

.login input {

	margin-bottom:0.5em;
}

.login .btn {

	float:right;
}


</style>
