<div class="background">

</div>

<style>

.background {

	position:fixed;
	z-index:10000;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;

	background-color:white;
	background-image:url('/pictures/login.jpg');
	background-position:center;
	background-size:cover;
}

.login {

	position:absolute;
	left:50%;
	top:50%;
	width:20em;
	height10em;
	margin-left:-10em;
	margin-top:-5em;

}

.login input {

	margin-bottom:0.5em;
}

.login .btn {

	float:right;
}


</style>
