<div class="container">
	<br />
	<h4>Casebook Name:</h4>
	<input type="text" class="form-control" ng-model="casebook.name" placeholder="Template Name" />


	<br/>
	<div ng-repeat="child in casebook.children | orderBy:orderByPredicate" id="group_{{child.category_id}}" class="group-children panel-group"  ng-class="{notActive:!child.active, 'has-errors':errors['obj_'+col.object_ID]!=null}" role="tablist">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" data-toggle="collapse" data-target="#group_{{child.category_id}} .panel-collapse">
				<h4 class="panel-title">
					{{child.name}}
				</h4>
			</div>
			<div  ng-include="groupTemplate" class="panel-collapse collapse in" role="tabpanel"></div>
		</div>
	</div>
	<div class="row last-row">
		<div class="col col-xs-1 col-xs-offset-11 controls dropup">
			<button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus" ></span></button>
			<ul class="dropdown-menu dropdown-menu-right" role="menu">
				<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="newChild(null,'group')">Group</a>
			</ul>
		</div>
	</div>
</div>




<div class="document-status" ng-class="{'document-modified':saveList.length, 'document-saved':saveList.length==0, 'document-error':error}">
		<span ng-if="errors == null && (saveList.length>0)" class="notice">Saving...</span>
		<span ng-if="errors['document']" class="error">{{errors['document']}}</span>
		<span ng-if="errors != null && !errors.hasOwnProperty('document')" class="error">There are errors in the template</span>
</div>

<style>
	.sub-group{
		border: 1px solid black;
		border-radius: 2em;
		padding:2em;
		margin:2em;
	
	}
	.group-head{
		margin-bottom:2em;
	}
	
	.group-head > *{
	
		margin-top:0.5em;
		margin-bottom:0.5em;
	}
	
	.group-children{
		margin:2em;
	}
	.group-children > div {
		margin-top:1em;
	}
	.note-text {
		margin-left:1em;
		margin-top:0.5em;
		margin-bottom:0.5em;
	}
	.answer {
		margin-left:2em;
		margin-right:2em;
		margin-top:0.5em;
		margin-bottom:0.5em;
	}
	
	.notActive {
		/*background-color:#BBBBBB;*/
		opacity:0.25;
		border-radius:2em;
	}
	
	.controls span{
		cursor:pointer;
	}
	
	.show{
		display:block;
	}
	
	#newDialog .modal-body button{
	
		width:10em;
		margin:1em;
	}
	
	.last-row{
		margin-bottom:5em;
	}
	
	.document-status{
	
		display:block;
		position:fixed;
		right:0.5em;
		bottom:0.5em;
		z-index:2000;
	
	}
	
	.error{
		color:red;
		font-weight:bold;
		font-size:150%;
		background-color:lightgray;
		padding:1em;
	}
	
	.notice{
		font-size:150%;
		background-color:lightgray;
		padding:0.5em;
	}
	
	.has-errors{
		background-color:#DD7777;
	}
	
	.dropdown-menu{
		top:auto !important;
		bottom:100%; !important;
	}
	
</style>
