<div class="row">
	<div class="group-head col col-xs-10">
		<input type="text" class="form-control" ng-model="child.name" placeholder="Title..." />
		<div class="note-text"><input type="text" class="form-control" ng-model="child.notes" placeholder="Notes..." /></div>
	</div>
	<div class="col col-xs-2 controls">
		<button type="button" class="btn btn-primary btn-xs" ng-click="active(child)"><span class="glyphicon" ng-class="{'glyphicon-eye-close':child.active, 'glyphicon-eye-open':!child.active}"></span></button>
		<button type="button" class="btn btn-danger btn-xs" ng-click="remove(child)"><span class="glyphicon glyphicon-remove"></span></button>
		<button type="button" class="btn btn-info btn-xs" ng-click="moveUp(child)"><span class="glyphicon glyphicon-arrow-up"></span></button>
		<button type="button" class="btn btn-info btn-xs" ng-click="moveDown(child)"><span class="glyphicon glyphicon-arrow-down"></span></button><br/>
					{{errors['obj_'+child.object_ID]}}
	</div>
</div>
<div class="row">

	<div class="group-children">
		<div ng-repeat="child in child.children | orderBy:orderByPredicate" ng-switch="child.type">
	
			<div ng-switch-when="G" id="group_{{child.category_id}}" class="group-children panel-group"  ng-class="{notActive:!child.active, 'has-errors':errors['obj_'+child.object_ID]!=null}" role="tablist">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" data-toggle="collapse" data-target="#group_{{child.category_id}} .panel-collapse">
						<h4 class="panel-title">
							{{child.name}}
						</h4>
					</div>
					<div  ng-include="groupTemplate" class="panel-collapse collapse in" role="tabpanel"></div>
				</div>
			</div>
			
			<div ng-switch-when="S" class="sub-group"  ng-class="{notActive:!child.active}">
				<div  ng-include="groupTemplate" ></div>
			</div>
			
			<div ng-switch-when="D" class="question singleline row"  ng-class="{notActive:!child.active, 'has-errors':errors['obj_'+child.object_ID]!=null}">
				<div class="col col-xs-10">
					<input type="text" class="form-control" ng-model="child.text" placeholder="Question..." />
					<div class="note-text"><input type="text" class="form-control" ng-model="child.notes" placeholder="Notes..." /></div>
					<div class="answer"><input type="text" class="form-control" placeholder="01/01/2015 00:00:00" disabled /></div>
				</div>
				<div class="col col-xs-2 controls">
					<button type="button" class="btn btn-primary btn-xs" ng-click="active(child)"><span class="glyphicon" ng-class="{'glyphicon-eye-close':child.active, 'glyphicon-eye-open':!child.active}"></span></button>
					<button type="button" class="btn btn-danger btn-xs" ng-click="remove(child)"><span class="glyphicon glyphicon-remove"></span></button>
					<button type="button" class="btn btn-info btn-xs" ng-click="moveUp(child)"><span class="glyphicon glyphicon-arrow-up"></span></button>
					<button type="button" class="btn btn-info btn-xs" ng-click="moveDown(child)"><span class="glyphicon glyphicon-arrow-down"></span></button><br/>
					{{errors['obj_'+child.object_ID]}}
				</div>
			</div>
			
			<div ng-switch-when="C" class="question singleline row"  ng-class="{notActive:!child.active, 'has-errors':errors['obj_'+child.object_ID]!=null}">
				<div class="col col-xs-10">
					<input type="text" class="form-control" ng-model="child.text" placeholder="Question..." />
					<div class="note-text"><input type="text" class="form-control" ng-model="child.notes" placeholder="Notes..." /></div>
					<div class="answer checkbox"><label><input type="checkbox" disabled /></label></div>
				</div>
				<div class="col col-xs-2 controls">
					<button type="button" class="btn btn-primary btn-xs" ng-click="active(child)"><span class="glyphicon" ng-class="{'glyphicon-eye-close':child.active, 'glyphicon-eye-open':!child.active}"></span></button>
					<button type="button" class="btn btn-danger btn-xs" ng-click="remove(child)"><span class="glyphicon glyphicon-remove"></span></button>
					<button type="button" class="btn btn-info btn-xs" ng-click="moveUp(child)"><span class="glyphicon glyphicon-arrow-up"></span></button>
					<button type="button" class="btn btn-info btn-xs" ng-click="moveDown(child)"><span class="glyphicon glyphicon-arrow-down"></span></button><br/>
					{{errors['obj_'+child.object_ID]}}
				</div>
			</div>
		
			<div ng-switch-when="1" class="question singleline row"  ng-class="{notActive:!child.active, 'has-errors':errors['obj_'+child.object_ID]!=null}">
				<div class="col col-xs-10">
					<input type="text" class="form-control" ng-model="child.text" placeholder="Question..." />
					<div class="note-text"><input type="text" class="form-control" ng-model="child.notes" placeholder="Notes..." /></div>
					<div class="answer"><input type="text" class="form-control" placeholder="Answer..." disabled /></div>
				</div>
				<div class="col col-xs-2 controls">
					<button type="button" class="btn btn-primary btn-xs" ng-click="active(child)"><span class="glyphicon" ng-class="{'glyphicon-eye-close':child.active, 'glyphicon-eye-open':!child.active}"></span></button>
					<button type="button" class="btn btn-danger btn-xs" ng-click="remove(child)"><span class="glyphicon glyphicon-remove"></span></button>
					<button type="button" class="btn btn-info btn-xs" ng-click="moveUp(child)"><span class="glyphicon glyphicon-arrow-up"></span></button>
					<button type="button" class="btn btn-info btn-xs" ng-click="moveDown(child)"><span class="glyphicon glyphicon-arrow-down"></span></button><br/>
					{{errors['obj_'+child.object_ID]}}
				</div>
			</div>
		
			<div ng-switch-when="M" class="question multiline row" ng-class="{notActive:!child.active, 'has-errors':errors['obj_'+child.object_ID]!=null}">
				
				<div class="row">
					<div class="col col-xs-10">
						<input type="text" class="form-control" ng-model="child.text" placeholder="Question..." />
						<div class="note-text"><input type="text" class="form-control" ng-model="child.notes" placeholder="Notes..." /></div>
					
					</div>
					<div class="col col-xs-2 controls">
						<button type="button" class="btn btn-primary btn-xs" ng-click="active(child)"><span class="glyphicon" ng-class="{'glyphicon-eye-close':child.active, 'glyphicon-eye-open':!child.active}"></span></button>
						<button type="button" class="btn btn-danger btn-xs" ng-click="remove(child)"><span class="glyphicon glyphicon-remove"></span></button>
						<button type="button" class="btn btn-info btn-xs" ng-click="moveUp(child)"><span class="glyphicon glyphicon-arrow-up"></span></button>
						<button type="button" class="btn btn-info btn-xs" ng-click="moveDown(child)"><span class="glyphicon glyphicon-arrow-down"></span></button><br/>
						{{errors['obj_'+child.object_ID]}}
					</div>
				</div>
				
				<div class="row">
					<div class="col col-xs-12">
						<div class="answer"><textarea type="text" class="form-control" rows="7" placeholder="Answer..." disabled ></textarea></div>
					</div>
				</div>
			</div>
			
			
		
			<div ng-switch-when="T" class="" ng-class="{notActive:!child.active, 'has-errors':errors['obj_'+child.object_ID]!=null}">
				<div class="row">
					<div class="col col-xs-10">
					<input type="text" class="form-control" ng-model="child.name" placeholder="Table Name..." />
					<div class="note-text"><input type="text" class="form-control" ng-model="child.notes" placeholder="Notes..." /></div>
					
				</div>
				<div class="col col-xs-2 controls">
					<button type="button" class="btn btn-primary btn-xs" ng-click="active(child)"><span class="glyphicon" ng-class="{'glyphicon-eye-close':child.active, 'glyphicon-eye-open':!child.active}"></span></button>
					<button type="button" class="btn btn-danger btn-xs" ng-click="remove(child)"><span class="glyphicon glyphicon-remove"></span></button>
					<button type="button" class="btn btn-info btn-xs" ng-click="moveUp(child)"><span class="glyphicon glyphicon-arrow-up"></span></button>
					<button type="button" class="btn btn-info btn-xs" ng-click="moveDown(child)"><span class="glyphicon glyphicon-arrow-down"></span></button><br/>
					{{errors['obj_'+child.object_ID]}}
				</div>
				</div>
				
				<div class="row">
					<div class="col col-xs-12">
						<table class="table table-bordered">
							<tr>
								<td ng-repeat="col in child.questions | orderBy:orderByPredicate"  ng-class="{notActive:!col.active, 'has-errors':errors['obj_'+col.object_ID]!=null}">
									<button type="button" class="btn btn-primary btn-xs" ng-click="active(col)"><span class="glyphicon" ng-class="{'glyphicon-eye-close':child.active, 'glyphicon-eye-open':!col.active}"></span></button>
									<button type="button" class="btn btn-danger btn-xs" ng-click="remove(col)"><span class="glyphicon glyphicon-remove"></span></button>
									<button type="button" class="btn btn-info btn-xs" ng-click="moveUp(col)"><span class="glyphicon glyphicon-arrow-left"></span></button>
									<button type="button" class="btn btn-info btn-xs" ng-click="moveDown(col)"><span class="glyphicon glyphicon-arrow-right"></span></button><br/>
									{{errors['obj_'+col.object_ID]}}
								</td>
								<td>
									<div class="controls dropdown">
										<button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus" ></span></button>
										<ul class="dropdown-menu dropdown-menu-right" role="menu">
											<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="newChild(child,'single-line')">Single-line Question</a>
											<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="newChild(child,'date')">Date Question</a>
											<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="newChild(child,'checkbox')">Checkbox Question</a>
										</ul>
									</div>
								
								</td>
							</tr>
							<tr>
								<td ng-repeat="col in child.questions | orderBy:orderByPredicate"  ng-class="{notActive:!col.active, 'has-errors':errors['obj_'+col.object_ID]!=null}">
									<input type="text" class="form-control" ng-model="col.text" placeholder="Question..." />
								</td>
								<td>
								</td>
							</tr>
							<tr>
								<td ng-repeat="col in child.questions | orderBy:orderByPredicate"  ng-class="{notActive:!col.active, 'has-errors':errors['obj_'+col.object_ID]!=null}">
									<input type="text" class="form-control" ng-model="col.notes" placeholder="Notes..." />
								</td>
								<td>
								</td>
							</tr>
							<tr>
								<td ng-repeat="col in child.questions | orderBy:orderByPredicate"  ng-class="{notActive:!col.active, 'has-errors':errors['obj_'+col.object_ID]!=null}">
									<input ng-show="col.type=='1'" type="text" class="form-control" placeholder="Answer..." disabled />
									<input ng-show="col.type=='D'" type="text" class="form-control" placeholder="01/01/2015 00:00:00" disabled />
									<label ng-show="col.type=='C'" class="checkbox"><input  type="checkbox" disabled /></label>
								</td>
								<td>
								</td>
							</tr>
				
						</table>
					</div>
				</div>
			</div>
		
		</div>
	</div>
</div>
<div class="row">
	<div class="col col-xs-1 col-xs-offset-11 controls dropup">
		<button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus" ></span></button>
		<ul class="dropdown-menu dropdown-menu-right" role="menu">
			<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="newChild(child,'group')">Group</a>
			<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="newChild(child,'sub-group')">Subgroup</a>
			<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="newChild(child,'table')">Table</a>
			<li role="presentation" class="divider"></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="newChild(child,'multi-line')">Multi-line Question</a>
			<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="newChild(child,'single-line')">Single-line Question</a>
			<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="newChild(child,'date')">Date Question</a>
			<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="newChild(child,'checkbox')">Checkbox Question</a>
		</ul>
	</div>
</div>
