<!--<!DOCTYPE html>
<html lang="en">
  <head>

  </head>-->

<br />
<br />
<br />


<body>
    <div class="container">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{user.userName}}</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline">
                    <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default">Change Password</button>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <!--1st row-->
                        <form>
                            <div class="form-group">
                                <label for="inputFirstName">First Name</label>
                                <input type="text" class="form-control" id="inputFirstName" ng-model="user.firstName" placeholder="{{user.firstName}}">
                            </div>
                            <div class="form-group">
                                <label for="inputLastName">Last Name</label>
                                <input type="text" class="form-control" id="inputLastName" ng-model="user.lastName" placeholder="{{user.lastName}}">
                            </div>
                            <div class="form-group">
                                <label>Priviledge Level</label>
                                <p class="form-control-static">{{user.privilegeLevel}}</p>

                            </div>

                        </form>
                    </div>
                    <div class="col-md-6">
                        <!--2nd row-->
                        <form>
                            <div class="form-group">
                                <label for="inputEmail">E-mail</label>
                                <input type="email" class="form-control" id="Email" ng-model="user.email" placeholder="{{user.email}}">
                            </div>
                            <div class="form-group">
                                <label for="inputPhone">Phone</label>
                                
                                <input type="text" class="form-control" id="number" ng-model="user.phone" placeholder="{{user.phone}}">
                            </div>
                            <div class="form-group">
                                <label>Last Login</label>
                                <p class="form-control-static">{{user.dateLastLogin}}</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Change Password</h4>
                    </div>
                    <div class="modal-body">

                        <form method="post" id="passwordForm">
                            <!--first password-->
                            <div class="form-group">
                                <input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <span id="8char" class="glyphicon glyphicon-remove" style="color: #FF0004;"></span>8 Characters Long<br>
                                        <span id="ucase" class="glyphicon glyphicon-remove" style="color: #FF0004;"></span>One Uppercase Letter
                                    </div>
                                    <div class="col-sm-6">
                                        <span id="lcase" class="glyphicon glyphicon-remove" style="color: #FF0004;"></span>One Lowercase Letter<br>
                                        <span id="num" class="glyphicon glyphicon-remove" style="color: #FF0004;"></span>One Number
                                    </div>
                                </div>
                            </div>

                            <!--second password-->
                            <div class="form-group">
                                <input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <span id="pwmatch" class="glyphicon glyphicon-remove" style="color: #FF0004;"></span>Passwords Match
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <input id="changePassword" type="submit" class="btn btn-success btn-load" 
                            data-loading-text="Changing Password..." data-dismiss="modal" value="Change Password" disabled>
                    </div>
                </div>
            </div>
        </div> 
<!--        end modal-->

    </div>
    <!-- /container -->


    <div class="document-status">
		<span ng-if="dataHasChanged" class="notice">Saving...</span>
        <span ng-if="errors['document']" class="error">{{errors['document']}}</span>

</div>
</body>
<!--</html>-->

<style>
	.sub-group{
		border: 1px solid black;
		border-radius: 2em;
		padding:2em;
		margin:2em;
	
	}
	.group-head{
		margin-bottom:2em;
	}
	
	.group-head > *{
	
		margin-top:0.5em;
		margin-bottom:0.5em;
	}
	
	.group-children{
		margin:2em;
	}
	.group-children > div {
		margin-top:1em;
	}
	.note-text {
		margin-left:1em;
		margin-top:0.5em;
		margin-bottom:0.5em;
	}
	.answer {
		margin-left:2em;
		margin-right:2em;
		margin-top:0.5em;
		margin-bottom:0.5em;
	}
	
	.notActive {
		/*background-color:#BBBBBB;*/
		opacity:0.25;
		border-radius:2em;
	}
	
	.controls span{
		cursor:pointer;
	}
	
	.show{
		display:block;
	}
	
	#newDialog .modal-body button{
	
		width:10em;
		margin:1em;
	}
	
	.last-row{
		margin-bottom:5em;
	}
	
	.document-status{
	
		display:block;
		position:fixed;
		right:0.5em;
		bottom:0.5em;
		z-index:2000;
	
	}
	
	.error{
		color:red;
		font-weight:bold;
		font-size:150%;
		background-color:lightgray;
		padding:1em;
	}
	
	.notice{
		font-size:150%;
		background-color:lightgray;
		padding:0.5em;
	}
	
	.has-errors{
		background-color:#DD7777;
	}
	
</style>
