<div class="container ">
    <style>
	  	    h2 {
	    	    padding-top: 10px;
	        }
        table {
            width: 100%;
        }
       </style>
       <script>
           $(".dropdown-menu li a").click(function () {
               var selText = $(this).text();
               $(this).parents('.input-group').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
           });
       </script>
    
	<div class="row">
    	<div class="col col-xs-12">
        	<h1>Casebooks</h1>
    	</div>
	</div>

    <div class="row" style="padding-bottom:2em;">
            
        <div class="col col-md-4 col-md-offset-4">
            <div class="input-group" style="width:100%">
                <input type="text" ng-model="search" class="form-control" placeholder="Search..." />
            </div>
        </div>
        
    </div>


	<div class="row">
		<div class="col col-md-6 col-md-offset-3">

	        <div class="alert alert-danger alert-error" ng-show="errorFlag">
    		    <strong>Search/Server Error!</strong>
                <ul ng-repeat="errors in error"><!--loop through the array of errors-->
                    <li><p>{{errors}}</p></li>
                </ul> 
		    </div>
	    </div>
    </div>

    <div class="row">
        <div class= "col col-xs-12">
            <table class= "table table-hover" align="center"><!--table striped?-->
                <tr>
		            <th ng-click="sortBy('casebook.name');">
		                Casebook Name
		            </th>
					<th ng-click="sortBy('user.lastName');">
						Last Name
		            </th>
		            <th ng-click="sortBy('user.firstName');">
		                First Name
		            </th>
		            <th ng-click="sortBy('finalGrade');">
		            	Grade
		            </th>
		            <th ng-click="sortBy('dateStarted');">
		            	Start Date
		           	</th>
		           	<th ng-click="sortBy('dueDate');">
		            	Due Date
					</th>
                </tr>
                <tr ng-repeat="cats in data" ng-click="openCasebook(cats.userCasebook_id)"
                		ng-class="{'success':(currentUser.privilegeLevel=='I'&&cats.hasNewAnswer)||(currentUser.privilegeLevel=='S'&&cats.hasNewFeedback)}"
                	>
					<td>{{cats.casebook.name}}</td>
					<td>{{cats.user.lastName}}</td>
					<td>{{cats.user.firstName}}</td>
					<td>{{cats.finalGrade}}</td>
					<td>{{cats.dateStarted}}</td>
			        <td>{{cats.dueDate}}</td>
                </tr>
            </table>
        </div>
     </div>

	<div id ="row">
		<div class="col col-xs-4"><!--BootStrap: use half of the grid-->
		    <button type="button" class="btn btn-info btn-sm" ng-click="page=1" ng-disabled="page<=1"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></button>
		    <button type="button" class="btn btn-info btn-sm" ng-click="page=page-1" ng-disabled="page<=1"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></button>
		</div>

        <div class="col col-xs-2">
                <span class="input-group" >
               		<input type="text" class="form-control" ng-model="page" />
               		<span class="input-group-addon">of {{lastPage}}</span>
               	</span>
       	</div>
       	<div class="col col-xs-2">
               	<span class="input-group">
               		<span class="input-group-addon">Page Size:</span>
               		<input type="text" class="form-control" ng-model="pageSize" />
               	</span>
        </div>

        <div class="col col-xs-4"><!--BootStrap: use the other have of the grid-->
           	<button type="button" class="btn btn-info btn-sm pull-right" ng-click="page=lastPage" ng-disabled="page>=lastPage"><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></button>
            <button type="button" class="btn btn-info btn-sm pull-right" ng-click="page=page+1" ng-disabled="page>=lastPage"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></button>
            
        </div>
    </div>


</div>







